.BuildingList {
    width: 20vw !important;; /* Set width to 20% of the viewport width */
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: black;
}